Makefile
README
config.h
config.log
config.status
data/Makefile
data/fonts/Makefile
data/images/Makefile
data/pieces/Makefile
doc/Makefile
m4/Makefile
src/.deps/
src/*.o
src/randomc/.deps/
src/randomc/Makefile
src/randomc/*.o
src/randomc/*.a
src/tge/.deps/
src/tge/*.o
src/tge/*.a
stamp-h1
src/qbos
